# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
certbot/conf
certbot/work/
certbot/www/
certbot
privkey.pem
letsencrypt
/etc/letsencrypt/live
gemini.md
*.key
*.pem
*.csr
*.p12
/certs/
/private/
.htpasswd

# Secret config
.env
.env.*.local
.env.local
*.log
.vite/
init-letsencrypt.sh
certbot-auto
certbot-auto-renew
eslint.config.js
google-cloud-sdk